# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CsvGen.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\asida\RiderProjects\CsvGen\.idea\.idea.CsvGen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
